.nav {
  background-color: #dad1ed;
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%; 
  margin: 0;
  padding: 14px 50px 14px 50px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  color: brown
}

/* LEFT */
.nav-left {
  display: flex;
  gap: 30px;
  justify-self: start;
}

/* CENTER */
.nav-center {
  display: flex;
  justify-content: center;
  margin-right: 130px;
}

/* RIGHT */
.nav-right {
  display: flex;
  gap: 30px;
  justify-self: end;
}

.nav a:hover {
  color: #dd9393

}